.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .centerWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }

  .optionsWrapper {
    flex: 1;
    //padding-bottom: 20px;
    overflow-y: auto;
  }
}


