@use '@/utils/variables' as variables;

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.contentWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 40px;
  height: 100%;
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  flex: 1;

  .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    margin-bottom: 8px;
  }

  .description {
    margin: 18px 0 18px 0;
    text-align: center;
    color: variables.$text-secondary;
    font-size: 15px;
    line-height: 1.5;
  }

  .childrenWrapper {
    width: 100%;
  }
}
