@use '@/utils/variables';

.wrapper {
  position: relative;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;

  .contentWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;

    h1 {
      margin-bottom: 10px;
    }

    p {
      text-align: center;
      margin: 0 0 30px;
      color: variables.$text-secondary;
    }

    .childrenWrapper {
      position: absolute;
      top: 50%; /* Смещаем верхний край до середины */
      transform: translateY(-50%); /* Сдвигаем назад на половину своей высоты */
    }
  }
}