@use '@/utils/variables' as variables;

.submitButton {
  background-color: variables.$main-color;
  border: none;
  border-radius: variables.$rounded;
  height: 56px;
  padding: 16px;
  font-size: 16px;
  width: 100%;

  &:active {
    transform: scale(0.990);
  }

  &.disabled,
  &.disabled:hover {
    background-color: variables.$color-base-grey-A20;
    color: variables.$color-base-grey-40;
    cursor: not-allowed;
  }

  &.disabled:active {
    transform: none; // Убираем эффект при нажатии, если кнопка задизейблена
  }
}

.wrapper {
  margin-bottom: 20px;

  .errorMessage {
    display: inline-block;
    font-size: 12px;
    line-height: 1.2;
    color: variables.$error-color;
    margin-top: 4px;
  }
}

.formInput {
  position: relative;
  width: 100%;
  outline: none;
  border: 1px solid #d1d4dc;
  background-color: white;
  //border: 1px solid variables.$text-secondary;
  border-radius: variables.$rounded;
  display: flex;

  &:focus-within {
    outline: 2px solid variables.$main-color; // Изменяем границу при фокусе на вложенном input
    border: 1px solid transparent;
  }

  &.error {
    outline: 2px solid variables.$error-color;
    border: 1px solid transparent;
  }

  input {
    width: 100%;
    height: 48px;
    font-size: 16px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: variables.$rounded;
    box-sizing: border-box;
    background-color: white;
    color: black;

    &::placeholder {
      opacity: 0;
    }

    &:not(:placeholder-shown) + label {
      top: 0;
      font-size: 0.8rem;
      background: #fff;
      padding: 7px;
    }
  }

  label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: variables.$text-secondary;
    letter-spacing: 1px;
    transition: .3s;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;

    &.error {
      color: variables.$error-color;
    }

    &.focus {
      color: variables.$main-color;
    }
  }

  .eyesButton {
    color: variables.$text-secondary;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
}
