@use '@/utils/variables' as variables;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    color: #CFD4DC;
  }
}

.title {
  margin: 10px 0 0 0;
  color: #9299A4;
  text-align: center;
  font-weight: 500;
}

.text,
.textCompact {
  margin: 8px 24px 0;
  color: #9299A4;
  text-align: center;
  white-space: pre-wrap;
}

.text {
  font-size: 16px;
}

.textCompact {
  font-size: 14px;
}