@use '@/utils/variables' as variables;

.goBackWrapper {
  margin-top: 20px;
  height: 36px;
  width: fit-content;

  &:active {
    transform: scale(0.970); //@fixme значение
  }

  svg {
    color: variables.$main-color;
  }
}