@use '@/utils/variables' as variables;

.counterWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 56px;
  }

  button {
    background-color: transparent;
    border: none;
    display: flex;

    &:enabled:active {
      transform: scale(0.950);
    }
  }

  .icon {
    color: variables.$main-color;

    &.disabled {
      color: variables.$color-disabled-lighter;
    }
  }
}