@use '@/utils/variables' as variables;

.errorMessage {
  color: variables.$error-color;
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 0;
}

.button {
  border: none;
  border-radius: variables.$rounded;
  height: 56px;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;

  margin-top: 20px;
  color: white;

  .icon {
    width: 24px;
    height: 24px;

    &.iconLeft {
      margin-right: 10px;
    }

    &.iconRight {
      margin-left: 10px;
    }
  }

  &.active {
    &:enabled:active {
      transform: scale(0.990);
    }
  }

  &.disabled,
  &.disabled:hover {
    background-color: variables.$color-base-grey-A20;
    color: variables.$color-base-grey-40;
    cursor: not-allowed;
  }

  &.error {
    outline: 2px solid variables.$error-color;
  }
}

.variant-input {
  background-color: rgb(237, 237, 237);
  color: variables.$text-secondary;

  text-align: start;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 8px 0 hsla(0, 0%, 0%, 0.16);

  svg {
    color: variables.$text-secondary;
  }
}

.variant-primary,
.variant-continue {
  background-color: variables.$main-color;
  margin-bottom: 20px;
}