$color-additional-blue-grey-100: #25303c;
$color-additional-blue-grey-90: #334250;
$color-additional-blue-grey-80: #415361;
$color-additional-blue-grey-70: #506372;
$color-additional-blue-grey-60: #637889;
$color-additional-blue-grey-50: #7b8f9e;
$color-additional-blue-grey-40: #9aa9b5;
$color-additional-blue-grey-30: #b3bec7;
$color-additional-blue-grey-20: #d0d7dc;
$color-additional-blue-grey-10: #eaedef;
$color-additional-blue-grey-5: #f3f5f6;

$color-additional-brown-100: #3b2b1c;
$color-additional-brown-90: #493a2a;
$color-additional-brown-80: #564533;
$color-additional-brown-70: #66523e;
$color-additional-brown-60: #725e4a;
$color-additional-brown-50: #84725e;
$color-additional-brown-40: #9e8f80;
$color-additional-brown-30: #bdb2a8;
$color-additional-brown-20: #dcd4cb;
$color-additional-brown-10: #edebe8;
$color-additional-brown-5: #f5f5f4;

$color-additional-pink-100: #7d0366;
$color-additional-pink-90: #9d0273;
$color-additional-pink-80: #b2067e;
$color-additional-pink-70: #c41289;
$color-additional-pink-60: #d22d94;
$color-additional-pink-50: #e151a1;
$color-additional-pink-40: #eb70b0;
$color-additional-pink-30: #f89bc7;
$color-additional-pink-20: #ffc7e1;
$color-additional-pink-10: #fee6f1;
$color-additional-pink-5: #fff0f7;

$color-additional-purple-100: #670470;
$color-additional-purple-90: #7e0b88;
$color-additional-purple-80: #8c1698;
$color-additional-purple-70: #9726a1;
$color-additional-purple-60: #a432ae;
$color-additional-purple-50: #b343bd;
$color-additional-purple-40: #c763cf;
$color-additional-purple-30: #dd90e4;
$color-additional-purple-20: #eebff2;
$color-additional-purple-10: #fae3fd;
$color-additional-purple-5: #fdf1fe;

$color-additional-violet-100: #460891;
$color-additional-violet-90: #5e08ba;
$color-additional-violet-80: #6c20cf;
$color-additional-violet-70: #7535d4;
$color-additional-violet-60: #8247e1;
$color-additional-violet-50: #8e5ce5;
$color-additional-violet-40: #a179ec;
$color-additional-violet-30: #bba0f5;
$color-additional-violet-20: #d8cafc;
$color-additional-violet-10: #efeafe;
$color-additional-violet-5: #f8f4ff;

$color-additional-indigo-100: #2b29a2;
$color-additional-indigo-90: #3734bf;
$color-additional-indigo-80: #3e3cce;
$color-additional-indigo-70: #4b4ddd;
$color-additional-indigo-60: #5c5ee9;
$color-additional-indigo-50: #7375f4;
$color-additional-indigo-40: #9193f5;
$color-additional-indigo-30: #b2b3fa;
$color-additional-indigo-20: #d2d2ff;
$color-additional-indigo-10: #ebebff;
$color-additional-indigo-5: #f4f4ff;

$color-additional-blue-100: #0d47a1;
$color-additional-blue-90: #1565c0;
$color-additional-blue-80: #1976d2;
$color-additional-blue-70: #1e88e5;
$color-additional-blue-60: #2094f3;
$color-additional-blue-50: #42a5f5;
$color-additional-blue-40: #64b5f6;
$color-additional-blue-30: #93cdfc;
$color-additional-blue-20: #c0e3ff;
$color-additional-blue-10: #e3f2fd;
$color-additional-blue-5: #f0f7fc;

$color-additional-cyan-100: #045961;
$color-additional-cyan-90: #01757e;
$color-additional-cyan-80: #00858f;
$color-additional-cyan-70: #00949e;
$color-additional-cyan-60: #03a2ab;
$color-additional-cyan-50: #30b2bc;
$color-additional-cyan-40: #51c2ca;
$color-additional-cyan-30: #81d5db;
$color-additional-cyan-20: #b6e9ed;
$color-additional-cyan-10: #dbf8fa;
$color-additional-cyan-5: #eafcfd;

$color-additional-red-100: #b21b00;
$color-additional-red-90: #c8250f;
$color-additional-red-80: #d82a13;
$color-additional-red-70: #e6341c;
$color-additional-red-60: #ee412b;
$color-additional-red-50: #f45948;
$color-additional-red-40: #fb7b6f;
$color-additional-red-30: #ffa59e;
$color-additional-red-20: #ffd2d2;
$color-additional-red-10: #ffebed;
$color-additional-red-5: #fff5f6;

$color-additional-green-100: #1a6800;
$color-additional-green-90: #2b800e;
$color-additional-green-80: #3b961d;
$color-additional-green-70: #46a527;
$color-additional-green-60: #56b238;
$color-additional-green-50: #6ac04d;
$color-additional-green-40: #84cb6d;
$color-additional-green-30: #a8db97;
$color-additional-green-20: #ccedc1;
$color-additional-green-10: #e7fbe0;
$color-additional-green-5: #f3fdf0;

$color-additional-orange-100: #d14600;
$color-additional-orange-90: #e55806;
$color-additional-orange-80: #f26202;
$color-additional-orange-70: #f97501;
$color-additional-orange-60: #f9820b;
$color-additional-orange-50: #fb962b;
$color-additional-orange-40: #fca751;
$color-additional-orange-30: #febf81;
$color-additional-orange-20: #ffd9b2;
$color-additional-orange-10: #ffeddb;
$color-additional-orange-5: #fff5eb;

$color-additional-yellow-100: #cf7400;
$color-additional-yellow-90: #e58600;
$color-additional-yellow-80: #f59700;
$color-additional-yellow-70: #f6a904;
$color-additional-yellow-60: #f8b612;
$color-additional-yellow-50: #fac529;
$color-additional-yellow-40: #f5d142;
$color-additional-yellow-30: #f7de6e;
$color-additional-yellow-20: #fdec96;
$color-additional-yellow-10: #fdf6c3;
$color-additional-yellow-5: #fffadb;

$color-additional-olive-100: #5e6100;
$color-additional-olive-90: #7c8001;
$color-additional-olive-80: #8f9401;
$color-additional-olive-70: #9da20e;
$color-additional-olive-60: #abb01c;
$color-additional-olive-50: #b9be2d;
$color-additional-olive-40: #c8cd42;
$color-additional-olive-30: #dce067;
$color-additional-olive-20: #ebee96;
$color-additional-olive-10: #f8fabd;
$color-additional-olive-5: #fdffdc;
